################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProgressManStudent/DataAccess.StudentAPI_/bin/Debug
/ProgressManStudent/ProgressManLecturers/bin
/ProgressManStudent/ProgressManStudent/obj/Debug/build.force
/ProgressManStudent/ProgressManStudent/obj/Debug/ProgressManStudent.csproj.AssemblyReference.cache
/ProgressManStudent/ProgressManStudent/obj/Debug/ProgressManStudent.csproj.CoreCompileInputs.cache
/ProgressManStudent/ProgressManStudent/obj/Debug/ProgressManStudent.csproj.FileListAbsolute.txt
/ProgressManStudent/ProgressManStudent/obj/Debug/ProgressManStudent.dll
/ProgressManStudent/ProgressManStudent/obj/Debug/ProgressManStudent.pdb
/ProgressManStudent/ProgressManStudentAPI/bin/roslyn
*.pdb
/ProgressManStudent/ProgressManStudentAPI/bin/DataAccess.StudentAPI_.dll
*.xml
/ProgressManStudent/ProgressManStudentAPI/bin/ProgressManStudentAPI.dll
/ProgressManStudent/ProgressManStudentAPI/bin/ProgressManStudentAPI.dll.config
/ProgressManStudent/ProgressManStudentAPI/obj/Debug/ProgressManStudentAPI.csproj.AssemblyReference.cache
*.CopyComplete
*.cache
/ProgressManStudent/ProgressManStudentAPI/obj/Debug/ProgressManStudentAPI.csproj.FileListAbsolute.txt
/ProgressManStudent/ProgressManStudentAPI/obj/Debug/ProgressManStudentAPI.dll
/ProgressManStudent/ProgressManStudent/bin/DataAccess.StudentAPI_.dll
*.dll
*.config
/ProgressManStudent/ProgressManStudent/bin/ProgressManStudent.pdb
/ProgressManStudent/ProgressManStudent/bin/ProgressManStudent.dll.config
/ProgressManStudent/ProgressManStudent/bin/ProgressManStudent.dll
/ProgressManStudent/ProgressManStudent/bin/Newtonsoft.Json.xml
/ProgressManStudent/ProgressManStudent/bin/Newtonsoft.Json.dll
/ProgressManStudent/ProgressManLecturers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProgressManStudent/ProgressManLecturers/obj/Debug/ProgressManLecturers.csproj.AssemblyReference.cache
*.txt
/ProgressManStudent/packages
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DataAccess.StudentAPI_.pdb
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DataAccess.StudentAPI_.dll
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DataAccess.StudentAPI_.csproj.CoreCompileInputs.cache
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DataAccess.StudentAPI_.csproj.FileListAbsolute.txt
/ProgressManStudent/DataAccess.StudentAPI_/obj/Debug/DataAccess.StudentAPI_.csproj.AssemblyReference.cache
/ProgressManStudent/.vs/ProgressManStudent/v17/.suo
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/ea81d994-fcb2-4904-afac-ff33f7c6ab5e.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/bbe4388f-10e5-44b3-86c9-10098fd6692a.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/abf39ea8-2584-4374-878b-6050c9ac1180.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/4568beff-fbde-409a-a7a8-6e38f844175e.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/28031427-a15d-4130-aad7-ab8bd262e146.vsidx
*.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/6757a822-6697-401e-86be-241c86e56c1a.vsidx
/ProgressManStudent/.vs/ProgressManStudent/FileContentIndex/da52a010-6659-4e58-ad6e-5aa4fd5657f5.vsidx
/ProgressManStudent/.vs/ProgressManStudent/config/applicationhost.config
