################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProgressManStudent/DataAccess.StudentAPI_/bin/Debug
